.background {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.font-setting {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    color: white;
}

.page-position {
    margin: 0 auto;
    width: 1366px;
    height: 768px;
}

.logo-contacts {
    display: flex;
    margin: 51px auto 0;
    width: 1020px;
    justify-content: space-between;
}

.logo-type {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.logo-type img {
    width: 53px;
    height: 47px;
}

.milan-holiday {
    margin-left: 7px;
}

.duomo-logo {
  padding-top: 4px;
}

.hidden-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 4px;
    opacity: 0;
    transition: all .25s;
    transition-duration: .25s;
}

.logo-type:hover .hidden-logo {
    opacity: 1;
}

#milan {
    font-size: 29px;
}

.contacts {
    text-align: end;
    line-height: 35px;
    float: left;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 60px;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "shopping sightseeing food"
    "bars art walking";
}

.tour-item {
    width: 302px;
    height: 222px;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 18px;
    position: relative;
    line-height: 40px;
    background: linear-gradient(to bottom, #ffffff 0%, #0a0a0a 100%);
}

.tour-item>img {
    width: 300px;
    height: 220px;
}

.tour-item::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    transition: all 0.36s ease;
    transform: scale(0);
}

.tour-item:hover::after {
    transform: scale(1);
    background: #F26522;
}

.hidden-price {
    flex-direction: column;
    width: 100%;
    height: 50px;
    text-align: start;
    position: absolute;
    bottom: 0;
    padding: 4px 8px 4px 16px;
    font-size: 14px;
    line-height: 19px;
    box-sizing: border-box;
    z-index: 1;
    opacity: 0;
    transition: all 0.25s ease-in;
    transition-duration: .2s;
}

.tour-item:hover .hidden-price {
    opacity: 1;
}

.fifty-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden-price div:first-child {
     font-size: 10px;
     text-align: left;
}

.fifty-details p:first-child {
     font-size: 20px;
}

.property {
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.details::after {
    content: url("/img/Vector 1.png");
    position: absolute;
    right: 10px;
    top: 23px;
    display: none;
}

.details:hover::after {
    display: block;
    transition: all 0.35s ease-in;
}

a:hover {
    color: #F26522;
    transition: all 0.25s ease;
}

a:hover > .hidden-price {
    color: white;
}

.shopping  {
    grid-area: shopping;
}

.sightseeing {
   grid-area: sightseeing;
}

.food {
    grid-area: food;
}

.bars {
    grid-area: bars;
}

.art {
    grid-area: art;
}

.walking {
    grid-area: walking;
}

.copyright {
    font-size: 12px;
    position: absolute;
    left: 39vw;
    bottom: 4vh;
}

/*@media screen and (max-width: 700px) {*/
/*    .background {*/
/*        background-repeat: repeat-y;*/
/*        width: auto;*/
/*        background-size: cover;*/
/*    }*/

/*    .page-position {*/
/*        max-width: 700px;*/
/*    }*/

/*    .logo-contacts {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        float: none;*/
/*        width: max-content;*/
/*    }*/

/*    .contacts {*/
/*        display: block;*/
/*        line-height: 20px;*/
/*        text-align: center;*/
/*        padding: 30px 0 0;*/
/*    }*/

/*    .grid-container {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        margin-top: 10px;*/
/*    }*/

/*    .tour-item {*/
/*        background: inherit;*/
/*        text-align: center;*/
/*    }*/

/*    .tour-item:last-child {*/
/*        margin-bottom: 70px;*/
/*    }*/

/*    .copyright {*/
/*        display: inline;*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        bottom: 0;*/
/*        !*padding: 4vh 0;*!*/
/*        text-align: center;*/
/*    }*/
/*}*/